@model KnowCloud.Models.Dto.OrderHeaderDto
@using KnowCloud.Utility
<form method="post">
    <br />
    <input asp-for="OrderHeaderId" hidden />
    <div class="container">
        <div class="card">
            <div class="card-header text-light ml-0" style="background-color:#5a189a;">
                <div class="container row">
                    <div class="col-12 d-none d-md-block col-md-6 pb-1 text-warning h3">
                        <span class="roboto-Medium-500" style="color:#fff;">Resumen del Pedido</span>
                    </div>
                    <div class="col-12 col-md-4 offset-md-2 text-right mt-2">
                        <a asp-action="OrderIndex" class="btn form-control btn-sm" style="background-color:#C14600;color:#fff;">Regresar a las Ordenes</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row my-1">
                                <div class="col-3"><span class="roboto-Light-300 title-morado">Nombre:</span></div>
                                <div class="col-9">
                                    <input asp-for="Name" readonly class="form-control" />
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3"><span class="roboto-Light-300 title-morado">Telefono:</span></div>
                                <div class="col-9">
                                    <input asp-for="Phone" readonly class="form-control" />
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3"><span class="roboto-Light-300 title-morado">Email:</span></div>
                                <div class="col-9">
                                    <input asp-for="Email" readonly class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3"><span class="roboto-Light-300 title-morado">Fecha de la Orden:</span></div>
                                <div class="col-9">
                                    <input value="@Model.OrderTime.ToShortDateString()" readonly class="form-control" />
                                </div>
                            </div>

                            @if (User.IsInRole(Utilities.RoleAdmin))
                            {
                                <div class="row my-1">
                                    <div class="col-3"><span class="roboto-Light-300 title-morado">Session ID:</span></div>
                                    <div class="col-9">
                                        <input asp-for="StripeSessionId" readonly class="form-control" />
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3"><span class="roboto-Light-300 title-morado">Intento de Pago:</span></div>
                                    <div class="col-9">
                                        <input asp-for="PaymentIntentId" readonly class="form-control" />
                                    </div>
                                </div>
                            }
                            <div class="row my-1">
                                <div class="col-3"><span class="roboto-Light-300 title-morado">Status de la Orden:</span></div>
                                <div class="col-9">
                                    <input asp-for="Status" readonly class="form-control" />
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-warning"><span class="roboto-Light-300 title-orange">Resumen de la Orden</span></span>
                            </h4>
                            <label class="text-center form-control my-2" style="color:#fff; background-color:#C14600;">Status de la Orden - @Model.Status</label>

                            <ul class="list-group mb-3">
                                @foreach (var detail in Model.OrderDetailsDto)
                                {
                                    <li class="list-group-item d-flex justify-content-between p-2">
                                        <div class="row container">
                                            <div class="col-8">

                                                <h6 class="my-0 text-white-50">@detail.ProductName</h6>
                                                <small class="text-muted">Precio : @detail.Price.ToString("c")</small><br />
                                                <small class="text-muted">Cantidad : @detail.Count</small>
                                            </div>
                                            <div class="col-4 text-end">
                                                <p class="text-success">@((detail.Count * detail.Price).ToString("c"))</p>
                                            </div>
                                        </div>
                                    </li>
                                }
                                <li class="list-group-item bg-primary">
                                    <div class="row container">
                                        <div class="col-6">
                                            <h5 class="text-white">TOTAL </h5>
                                        </div>
                                        <div class="col-6 text-end">
                                            <h5 class="text-white">@Model.OrderTotal.ToString("c")</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            @if (User.IsInRole(Utilities.RoleAdmin))
                            {
                                @if (Model.Status == Utilities.Status_Approved)
                                {
                                    <button asp-action="OrderReadyForPickup" asp-route-orderId="@Model.OrderHeaderId" type="submit" class="btn btn-success form-control my-1">Recoger Pedido</button>
                                }
                                @if (Model.Status == Utilities.Status_ReadyForPickup)
                                {
                                    <button asp-action="CompleteOrder" asp-route-orderId="@Model.OrderHeaderId" type="submit" class="btn btn-success form-control my-1">Orden Completa</button>
                                }

                                if (Model.Status == Utilities.Status_Approved || Model.Status == Utilities.Status_ReadyForPickup)
                                {
                                    <button asp-action="CancelOrder" asp-route-orderId="@Model.OrderHeaderId" type="submit" class="btn btn-danger form-control my-1">Cancelar Order</button>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

